@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #111111;
  color: white;
  max-width: 100%;
  transform: none !important;
  filter: none !important;
}
/* Désactive les effets AOS sur mobile pour afficher directement le contenu */
@media (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}